@model Models.ViewModel.User.LoginViewModel

<h2>Вхіх на сайт</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" value="@Model.Email"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" value="@Model.Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" value="@Model.RememberMe"/>
    </div>
    <div>
        <input type="submit" value="Увійти" />
    </div>
</form>